.btnVoting{
  background-color: #FAFAFA;
  border: 1px solid #C6C6C6;
  border-radius: 2px;
  display: inline-block;
  height: 18px;
  line-height: 1;
  margin-right: 3px;
  overflow: visible;
  padding: 2px 0 1px 3px;
}
.btnVoting .btnLike-count{ 
  border-left: 1px solid #C6C6C6;
  color: #000000;
  cursor: default;
  font-weight: normal;
  height: 16px;
  padding: 0 7px 0 6px;
  vertical-align: middle; 	
}
.btnVoting .voting-toggle{ cursor: pointer;}
.btnVoting .btn-icon{  
  display: inline-block;
  height: 16px;
  margin-right: 2px;
  opacity: 0.8;
  vertical-align: middle;
  width: 16px;
}
.btnVoting.btnLike .btn-icon{
  background: url("images/icon-button.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.btnVoting.btnLike.voted .btn-icon{
  background-position: 0 -20px;
}
.btnVoting.btnDislike .btn-icon{
  background: url("images/icon-button.png") no-repeat scroll 0 -40px rgba(0, 0, 0, 0);
}
.btnVoting.btnDislike.voted .btn-icon{
  background-position: 0 -60px;
}
.btnVoting .btn-label{ 
  color: #555555;
  font-size: 12px;
  font-weight: 700;
  padding: 0 3px 0 1px;
  position: relative;
  vertical-align: middle;
}
.btnVoting .voting-toggle:hover .btn-icon{ opacity: 1;}
.btnVoting .voting-toggle:hover .btn-label{ color: #000;}
